header {
    height: 75px;
    background-color: var(--color1);
    box-shadow: 1px 1px 5px #0f0f0f;
}

body {
    font-family: var(--fuenteMontserrat);
    text-align: center;
    color: #fff;
}

.nosotrosMain {
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.nosotrosTextContainer {
    width: 65%;
    margin: 7rem auto;
}

.nosotrosTitle {
    font-size: 2rem;
    font-weight: 200;
}
.nosotrosParagraph {
    font-size: 1.3rem;
    margin-top: 3rem;
    font-weight: 100;
    color: #ddd;
}

.nosotrosCards h2 {
    font-weight: 200;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 65%;
    margin: auto;
    margin-bottom: 5rem;
}
.cardContainer .card {
    background-color: #99999959;
    border-radius: 15px;

    margin-bottom: 2.5rem;
    padding: 2rem 1rem;
    min-width: 12rem;
    width: 15rem;
}

.cardContainer .card img {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    height: 150px;
    object-fit: cover;
}
.cardContainer .card figcaption {
    margin-top: 2rem;
    font-size: 1.2rem;
}

/* circles background */
.bgCirclesContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.bgCirclesContainer .circle {
    position: absolute;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    background-color: var(--color3);
}
/* separate circles */
.bgCirclesContainer .circle:nth-of-type(1) {
    right: -20%;
    top: 25%;
}
.bgCirclesContainer .circle:nth-of-type(2) {
    top: -10%;
    left: -21%;
}
.bgCirclesContainer .circle:nth-of-type(3) {
    background-color: var(--color2);
    bottom: -20%;
    left: -8%;
}
.bgCirclesContainer .circle:nth-of-type(4) {
    bottom: -30%;
    left: 0%;
}

@media only screen and (max-width: 380px) {
    .nosotrosTextContainer {
        width: 90%;
        margin: 6rem auto 5rem;
    }

    .cardContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
        margin: auto;
        margin-bottom: 5rem;
    }

    .bgCirclesContainer .circle {
        height: 300px;
        width: 300px;
    }
    /* separate circles */
    .bgCirclesContainer .circle:nth-of-type(1) {
        right: -40%;
        top: -8%;
    }
    .bgCirclesContainer .circle:nth-of-type(2) {
        left: -55%;
        top: 26%;
        opacity: 70%;
    }
    .bgCirclesContainer .circle:nth-of-type(3) {
        background-color: var(--color2);
        bottom: -5%;
        left: -40%;
    }
    .bgCirclesContainer .circle:nth-of-type(4) {
        bottom: -8%;
        left: 7%;
    }
}
@media only screen and (min-width: 381px) and (max-width: 600px) {
    .nosotrosTextContainer {
        width: 85%;
        margin: 6rem auto 5rem;
    }

    .cardContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 95%;
        margin: auto;
        margin-bottom: 5rem;
    }

    .bgCirclesContainer .circle {
        height: 300px;
        width: 300px;
    }
    /* separate circles */
    .bgCirclesContainer .circle:nth-of-type(1) {
        right: -40%;
        top: -8%;
    }
    .bgCirclesContainer .circle:nth-of-type(2) {
        left: -45%;
        top: 22%;
    }
    .bgCirclesContainer .circle:nth-of-type(3) {
        background-color: var(--color2);
        bottom: -5%;
        left: -40%;
    }
    .bgCirclesContainer .circle:nth-of-type(4) {
        bottom: -8%;
        left: 7%;
    }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
    .nosotrosTextContainer {
        width: 70%;
        margin: 6rem auto 5rem;
    }

    .cardContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
        margin: auto;
        margin-bottom: 5rem;
    }

    .bgCirclesContainer .circle {
        height: 300px;
        width: 300px;
    }
    /* separate circles */
    .bgCirclesContainer .circle:nth-of-type(1) {
        right: -30%;
        top: -5%;
    }
    .bgCirclesContainer .circle:nth-of-type(2) {
        left: -35%;
        top: 20%;
    }
    .bgCirclesContainer .circle:nth-of-type(3) {
        background-color: var(--color2);
        bottom: -5%;
        left: -8%;
    }
    .bgCirclesContainer .circle:nth-of-type(4) {
        bottom: -10%;
        left: 8%;
    }
}
@media only screen and (min-width: 901px) and (max-width: 1024px) {
    .nosotrosTextContainer {
        width: 65%;
        margin: 6rem auto 5rem;
    }

    .cardContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
        margin: auto;
        margin-bottom: 5rem;
    }

    .bgCirclesContainer .circle {
        height: 300px;
        width: 300px;
    }
    /* separate circles */
    .bgCirclesContainer .circle:nth-of-type(1) {
        right: -20%;
        top: 0%;
    }
    .bgCirclesContainer .circle:nth-of-type(2) {
        left: -11%;
    }
    .bgCirclesContainer .circle:nth-of-type(3) {
        background-color: var(--color2);
        bottom: -5%;
        left: -8%;
    }
    .bgCirclesContainer .circle:nth-of-type(4) {
        bottom: -10%;
        left: 8%;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .cardContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 85%;
        margin: auto;
        margin-bottom: 5rem;
    }

    .bgCirclesContainer .circle {
        height: 400px;
        width: 400px;
    }
    /* separate circles */
    .bgCirclesContainer .circle:nth-of-type(1) {
        right: -20%;
        top: 25%;
    }
    .bgCirclesContainer .circle:nth-of-type(2) {
        top: -10%;
        left: -21%;
    }
    .bgCirclesContainer .circle:nth-of-type(3) {
        background-color: var(--color2);
        bottom: -15%;
        left: -8%;
    }
    .bgCirclesContainer .circle:nth-of-type(4) {
        bottom: -20%;
        left: 0%;
    }
}
