@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
:root{
  --color1:#092635;
  --color2:#1B4242;
  --color3:#5C8374;
  --color4:#9EC8B9;
  --fuenteRoboto:Roboto;
  --fuenteMontserrat: Montserrat;
}

body{
  /* esto es de ejemplo como se usa despues lo borran */
  background-color: var(--color4);
}
.titulos{
  font-family: var(--fuenteRoboto); 
}
#botonesNav, #contenedorNav{
  background-color: var(--color1);
}
@media screen and (max-width: 575px){
  #nombreNavbar{
    display: none;
  }
  #botonesNav li{
    font-size: 20px;
  }
  #peliculaDestacada{
    height: 30vh;
    z-index: 1;
  }
  #imgPeliculaDestacada{
    filter: brightness(70%)
  }
  #textoImgDestacada{
    margin-right: 20px;
    z-index: 2; 
  }
  #resumenImgDestacada{
    display: none;
  }
  #reproducirDestacada, #informacionDestacada{
    width: 110px;
    font-size: 12px;
    padding: 6px;
    background: rgba(65, 73, 73, 0.63);
  }
  #tendencias{
    font-size: 15px;
  }
  .navbar-toggler, #logIn, #signIn{
    background-color: var(--color4);
  }
  #logIn, #signIn{
    border: black solid .1px;
    color: #1B4242;
  }
  .opcionesNav{
    background-color: var(--color4);
    border-radius: 2px;
  }
}